<h1><%= @snack.name %> </h1>

<p>Price: <%= @snack.price %></p>

<% @snack.machines.each do |machine| %>
  <%= machine.location %>
  <p>Average price: <%= machine.average_price %></p>
<p>Total types of snacks: <%= machine.count %></p>
<% end %>
